[user]
    name = Andrew Goodnough
    email = agoodno@gmail.com
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[branch]
    autosetuprebase = always
[alias]
    st = status
    co = checkout
    ba = branch -la
    bl = branch -l
    br = branch
    diffs = diff --staged
    ll = log --stat --abbrev-commit
    lg = log --graph --pretty=format:'%Cred%h%Creset - %C(bold blue)<%an>%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit --date=relative
    lasts = for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short)' --count=10
    last = log -1 HEAD
    stage = add
    unstage = reset HEAD --
[fetch]
    prune = true
