*elc
/.emacs.d/abbrev_defs
/.emacs.d/auto-save-list
/.emacs.d/backups
/.emacs.d/custom.el
/.emacs.d/elim
/.emacs.d/elpa
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/mail
/.emacs.d/news
/.emacs.d/places
/.emacs.d/session*
/.emacs.d/swank
/.emacs.d/tramp
/.emacs.d/url
/.emacs.d/var
