[Desktop Entry]
Name=Conkeror
GenericName=Web Browser
Comment=Emacs love
Exec=/usr/bin/conkeror
Terminal=false
Type=Application
Icon=/usr/share/icons/macrobat_conkeror_icon_64.png
Categories=GNOME;GTK;Network;WebBrowser;
StartupNotify=true
OnlyShowIn=Unity;
